/* 이거하나만 css를 바꾸면 3개의 화면이 모두다 변화가 된다 그래서 약간의 변화만 주고자 screen폴더에 파일 하나 만들고
css이름을 하나더 추가함 */
.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
  font-weight: 600;
}
.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 36px;
  color: white;
}

.user-component__text i {
  color: tomato;
}

.icon-screen {
  display: flex;
  justify-content: flex-start;
}
.icon-setting {
  margin-left: 76px;
}
