:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  /* border부분이 여러번 나왔는데 이게 반복해서 나오지 않게 border를 변수에 넣는게 좋다  
  같은 코드가 계속 반복되서 나오면 변수로 만드는게 좋다(똑같은 코드를 여러번 사용하지 않도록)*/
  --main-color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
  cursor: pointer;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase; /*모든 글자를 대문자로 만드는 속성과 속성값*/
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.opne-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
  margin-top: 30px;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.opne-post__heart-count {
  background-color: var(--main-color);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute; /* 하트가 사진위로 올라가야 하므로  absolute 어린이는 relative 부모가 필요하다*/
  right: 8px;
  bottom: 10px;
  font-size: 12px;
}

.opne-post__heart-count span {
  margin-left: 3px;
}
