nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  /* CSS는 기존박스의 크기를 유지하기 위해서 추가된 padding만큼 박스 크기를 늘려버린다
  width : 100%를 하면 여기서 추가된 패딩만큼 박스 크기가 늘어나고 이와 같은현상을 막기위해서
  box-sizing : border-box; 를 사용한다 (CSS에게 내가 패딩을 줘도 신경 쓰지마 
  내 box 사이즈를 늘리지 말아줘 라고 하는 말이다*/
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute; /*message icon 위에 오도록 */
  left: 20px;
  bottom: 18px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__dot {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
  transform: translateY(50px);
  opacity: 0;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}

.nav__btn:last-child {
  animation-delay: 0.8s;
}
